In [1]:
import pandas as pd

In [2]:
# merge files
# jan = pd.read_csv("2019_datasets/JC-201901-citibike-tripdata.csv")
# feb= pd.read_csv("2019_datasets/JC-201902-citibike-tripdata.csv")
# mar = pd.read_csv("2019_datasets/JC-201903-citibike-tripdata.csv")
# apr = pd.read_csv("2019_datasets/JC-201904-citibike-tripdata.csv")
may = pd.read_csv("2019_datasets/JC-201905-citibike-tripdata.csv")
jun = pd.read_csv("2019_datasets/JC-201906-citibike-tripdata.csv")
jul = pd.read_csv("2019_datasets/JC-201907-citibike-tripdata.csv")
aug = pd.read_csv("2019_datasets/JC-201908-citibike-tripdata.csv")
sep = pd.read_csv("2019_datasets/JC-201909-citibike-tripdata.csv")
# octo = pd.read_csv("2019_datasets/JC-201910-citibike-tripdata.csv")
# nov = pd.read_csv("2019_datasets/JC-201911-citibike-tripdata.csv")
# dec = pd.read_csv("2019_datasets/JC-201912-citibike-tripdata.csv")

In [3]:
list_of_dataframes = [may,jun,jul,aug,sep]
df = pd.concat(list_of_dataframes).drop_duplicates()

In [4]:
df.to_csv("Resources/2019-citibike-all.csv", index=False)

In [5]:
# Read in new csv
df = pd.read_csv("Resources/2019-citibike-all.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717732,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [6]:
# Drop rows where the trip duration is less than 90 seconds and where the start and end stations are the same
df = df.loc[((df["tripduration"]>90) & (df["start station id"] != df["end station id"])),:]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717732,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [7]:
# Convert trip duration column from seconds to minutes
df["tripduration"] = [trip/60 for trip in df["tripduration"]]

# Filter out trips over 24 hours long
df = df.loc[df["tripduration"] < 1440, :]

df.rename(columns={"tripduration":"tripduration (min)"})
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.183333,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717732,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,8.966667,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,2.966667,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,5.283333,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,5.900000,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [8]:

# Rename values in gender column with strings
gender = {0:"Unknown", 1:"Male", 2:"Female"}
df.gender = [gender[item] for item in df.gender]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.183333,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717732,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,Male
1,8.966667,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,Male
2,2.966667,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,Male
3,5.283333,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,Female
4,5.900000,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,Female

In [9]:
# Checking to see count of datapoints
df.count()

tripduration               204026
starttime                  204026
stoptime                   204026
start station id           204026
start station name         204026
start station latitude     204026
start station longitude    204026
end station id             204026
end station name           204026
end station latitude       204026
end station longitude      204026
bikeid                     204026
usertype                   204026
birth year                 204026
gender                     204026
dtype: int64

In [10]:
# Dropping NaN
df = df.dropna(how='any')
df.count()

tripduration               204026
starttime                  204026
stoptime                   204026
start station id           204026
start station name         204026
start station latitude     204026
start station longitude    204026
end station id             204026
end station name           204026
end station latitude       204026
end station longitude      204026
bikeid                     204026
usertype                   204026
birth year                 204026
gender                     204026
dtype: int64

In [11]:
df.shape

(204026, 15)

In [12]:
df.dtypes

tripduration               float64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                      object
dtype: object

In [13]:
# Save DataFrame to CSV
df.to_csv("Resources/2019-citibike-clean.csv", index=False, header=True)