In [1]:
import pandas as pd

In [2]:
# merge files
# jan = pd.read_csv("2020_datasets/JC-202001-citibike-tripdata.csv")
# feb= pd.read_csv("2020_datasets/JC-202002-citibike-tripdata.csv")
# mar = pd.read_csv("2020_datasets/JC-202003-citibike-tripdata.csv")
# apr = pd.read_csv("2020_datasets/JC-202004-citibike-tripdata.csv")
may = pd.read_csv("2020_datasets/JC-202005-citibike-tripdata.csv")
jun = pd.read_csv("2020_datasets/JC-202006-citibike-tripdata.csv")
jul = pd.read_csv("2020_datasets/JC-202007-citibike-tripdata.csv")
aug = pd.read_csv("2020_datasets/JC-202008-citibike-tripdata.csv")
sep = pd.read_csv("2020_datasets/JC-202009-citibike-tripdata.csv")
# octo = pd.read_csv("2020_datasets/JC-202010-citibike-tripdata.csv")
# nov = pd.read_csv("2020_datasets/JC-202011-citibike-tripdata.csv")
# dec = pd.read_csv("2020_datasets/JC-202012-citibike-tripdata.csv")

In [3]:
list_of_dataframes = [may,jun,jul,aug,sep]
df = pd.concat(list_of_dataframes).drop_duplicates()

In [4]:
df.to_csv("Resources/2020-citibike-all.csv", index=False)

In [5]:
# Read in new csv
df = pd.read_csv("Resources/2020-citibike-all.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [6]:
# Drop rows where the trip duration is less than 90 seconds and where the start and end stations are the same
df = df.loc[((df["tripduration"]>90) & (df["start station id"] != df["end station id"])),:]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [7]:
# Convert trip duration column from seconds to minutes
df["tripduration"] = [trip/60 for trip in df["tripduration"]]

# Filter out trips over 24 hours long
df = df.loc[df["tripduration"] < 1440, :]

df.rename(columns={"tripduration":"tripduration (min)"})
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.816667,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,2.300000,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,3.816667,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,4.350000,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,2.800000,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [8]:

# Rename values in gender column with strings
gender = {0:"Unknown", 1:"Male", 2:"Female"}
df.gender = [gender[item] for item in df.gender]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.816667,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,Unknown
1,2.300000,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,Male
2,3.816667,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,Male
3,4.350000,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,Female
4,2.800000,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,Male

In [9]:
# Checking to see count of datapoints
df.count()

tripduration               157360
starttime                  157360
stoptime                   157360
start station id           157360
start station name         157360
start station latitude     157360
start station longitude    157360
end station id             157360
end station name           157360
end station latitude       157360
end station longitude      157360
bikeid                     157360
usertype                   157360
birth year                 157360
gender                     157360
dtype: int64

In [10]:
# Dropping NaN
df = df.dropna(how='any')
df.count()

tripduration               157360
starttime                  157360
stoptime                   157360
start station id           157360
start station name         157360
start station latitude     157360
start station longitude    157360
end station id             157360
end station name           157360
end station latitude       157360
end station longitude      157360
bikeid                     157360
usertype                   157360
birth year                 157360
gender                     157360
dtype: int64

In [11]:
df.shape

(157360, 15)

In [12]:
df.dtypes

tripduration               float64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                      object
dtype: object

In [13]:
# Save DataFrame to CSV
df.to_csv("Resources/2020-citibike-clean.csv", index=False, header=True)

In [14]:
# Final merge csv
df_2018 = pd.read_csv("Resources/2018-citibike-clean.csv")
df_2019 = pd.read_csv("Resources/2019-citibike-clean.csv")
df_2020 = pd.read_csv("Resources/2020-citibike-clean.csv")

In [16]:
list_of_dataframes = [df_2018,df_2019,df_2020]
df_final = pd.concat(list_of_dataframes).drop_duplicates()
df_final

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2.183333,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,Male
1,7.200000,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,Male
2,7.200000,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,Male
3,53.183333,2018-05-01 10:05:06.9770,2018-05-01 10:58:18.6910,3183,Exchange Place,40.716247,-74.033459,3212,Christ Hospital,40.734786,-74.050444,33593,Customer,1969,Unknown
4,7.433333,2018-05-01 12:09:18.8750,2018-05-01 12:16:44.8850,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,33577,Subscriber,1969,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157355,11.916667,2020-10-13 15:04:16.8400,2020-10-13 15:16:12.3870,3185,City Hall,40.717733,-74.043845,3269,Brunswick & 6th,40.726012,-74.050389,44737,Subscriber,1976,Male
157356,4.500000,2020-10-13 15:05:35.0860,2020-10-13 15:10:05.3430,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,1963,Female
157357,3.433333,2020-10-13 15:11:34.3500,2020-10-13 15:15:00.5030,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,1993,Male
157358,3.600000,2020-10-13 15:11:49.1510,2020-10-13 15:15:25.6930,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,1966,Male
157359,6.966667,2020-10-13 15:12:31.7920,2020-10-13 15:19:30.5280,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,1991,Male

In [17]:
# Save DataFrame to CSV
df_final.to_csv("Resources/2018_2020-citibike-clean.csv", index=False)